/*#region reset*/

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #22343d;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*#endregion reset*/

/*#region header*/

.container {
  padding: 0 20px;
  max-width: 1150px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 73px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 16px;
  padding: 22px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.auth-list {
  display: flex;
  align-items: center;
  gap: 21px;
}

.nav-link {
  display: block;
  line-height: 1.75;
  padding: 26px 0;
}

.nav-link.current {
  font-weight: 600;
}

.auth-link {
  display: block;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  padding: 8px 24px;
}

.auth-link-dark {
  display: block;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  min-width: 105px;
  padding: 8px 24px;
  background-color: #02897a;
}

/*#endregion header*/

/*#region hero*/

.hero-section {
  padding: 25px 0 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.hero-title {
  font-size: 40px;
  line-height: 1.5;
  max-width: 420px;
  margin-bottom: 45px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  max-width: 465px;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  min-width: 110px;
  padding: 14px 42px;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #fff;
  color: #173a56;
  outline: 1px solid black;
}

.hero-button:hover .triangle-icon,
.hero-button:focus .triangle-icon {
  fill: #22343d;
}

.hero-button {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  padding: 16px 0;
  background-color: transparent;
}

.hero-button:hover,
.hero-button:focus {
  color: #173a56;
}

.hero-item-icon {
  display: flex;
  align-items: center;
  gap: 8.6px;
}

.triangle-icon {
  fill: #02897a;
}

.hero-item-icon:hover .triangle-icon {
  fill: #22343d;
}

/*#endregion hero*/

/*#region attributes*/

.attributes-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.attributes-container {
  grid-auto-flow: ;
}
.attributes-title {
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.attr-icon-wrapper {
  width: 54px;
  height: 54px;
  display: block;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.attr-icon-wrapper svg {
  fill: #fff;
}

.attributes-item:nth-child(4n-3) .attr-icon-wrapper {
  background-color: #02897a;
}
.attributes-item:nth-child(4n-2) .attr-icon-wrapper {
  background-color: #4d8dff;
}
.attributes-item:nth-child(4n-1) .attr-icon-wrapper {
  background-color: #740a76;
}
.attributes-item:nth-child(4n) .attr-icon-wrapper {
  background-color: #f03e3d;
}
.attributes-list {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.attributes-item {
  width: calc((100% - 90px) / 4);
}
.attributes-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.attributes-text {
  line-height: 1.62;
}
.attributes-link {
  padding: 14px 33px;
}

.attr-btn-wrapper {
  display: flex;
  justify-content: center;
}

/*#endregion attributes*/

/*#region features*/

.features-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-item {
  display: flex;
  gap: 84px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-wrapper {
  padding: 41px 0;
}

.features-pretitle {
  font-weight: 600;
  margin-bottom: 8px;
}

.features-title {
  font-size: 32px;
  margin-bottom: 25px;
}

.features-desc {
  line-height: 1.62;
  margin-bottom: 30px;
  max-width: 486px;
}

.features-subtitle {
  font-weight: 600;
  line-height: 1.62;
  margin-bottom: 12px;
}
.features-text {
  line-height: 1.62;
  max-width: 486px;
}

.features-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.features-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.features-list-icons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features-icon-wrapper {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 14px;
  background-color: #f90;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

#tick2 {
  background-color: #f03e3d;
}

#tick3 {
  background-color: #4d8dff;
}

.features-icon {
  fill: #fff;
}

.features-icon-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.features-icon-item .features-text {
  max-width: 385px;
}

/*#endregion features*/

/*#region members*/

.members-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 956px;
}

.members-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.members-subtitle {
  max-width: 542px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  margin: 0 auto;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 25px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.members-item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: calc((100% - 100px) / 2);
}

#member-2,
#member-3 {
  flex-direction: row-reverse;
}

.members-text-wrapper {
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  width: 281px;
  max-height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
}

.members-text {
  font-weight: 500;
  text-align: center;
  color: #2f281e;
}

.members-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-link {
  padding: 14px 30px;
}

/*#endregion members*/

/*#region strategies*/

.strategies-section {
  padding-top: 50px;
  padding-bottom: 85px;
}
.strategies-container {
}
.strategies-title {
  font-size: 34px;
  margin-bottom: 10px;
}
.strategies-subtext {
  font-weight: 500;
  line-height: 1.62;
  max-width: 465px;
  margin-bottom: 40px;
}
.strategies-list {
  display: flex;
  gap: 30px;
}
.strategies-item {
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.strategies-item img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.strategies-wrapper {
  padding: 24px 27px 40px;
  border: 1px solid #dedede;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 350px;
}
.strategies-text {
  margin-bottom: 12px;
  line-height: 1.75;
}

.strategies-bold {
  font-weight: 700;
}
.strategies-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.strategies-subtitle:hover {
  color: #02897a;
}

.strategies-item:hover {
  transform: scale(1.1);
}

/*#endregion strategies*/

/*#region price*/

.price-section {
  padding-top: 85px;
  padding-bottom: 50px;
}
.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-title {
  font-size: 34px;
  margin-bottom: 10px;
}
.price-subtext {
  font-weight: 500;
  margin-bottom: 40px;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-item {
  border-radius: 8px;
  width: 322px;
  height: 456px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.price-subtitle {
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 8px;
}
.price-text {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.5;
  margin-bottom: 16px;
}

.span-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 16px;
}

.price-second-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price-span1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-span2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-span3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-sublist {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 30px;
}
.price-subitem {
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.price-button {
  border-radius: 8px;
  max-width: 139px;
  max-height: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02897a;
  color: #fff;
  padding: 12px 18px;
  transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.price-item:hover {
  background-color: #02897a;
  color: #fff;
  transform: scale(1.1);
}

.price-item:hover .price-span1,
.price-item:hover .price-span2,
.price-item:hover .price-span3 {
  color: #fff;
}

.price-item:hover .price-button {
  background-color: #fff;
  color: #02897a;
}

.price-button:hover {
  box-shadow: inset 0 0 10px #02897a;
}

/*#endregion price*/
